
.card{
    border: 0.1em solid black;
    margin-bottom: 1em;
    border-radius: 0.5em;
    padding: 1em;
    background:  #FFFFFF;
    color: #000000;
    transition: 'all 150ms ease-out' 
}

.card-active{
    background:  linear-gradient(25deg, black, #02751E);
    color: #FFFFFF;
}